In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Data/adult.data.csv')

In [3]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [100]:
df['race'].value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [104]:
race=df['race'].value_counts()

In [105]:
race.values

array([27816,  3124,  1039,   311,   271])

In [106]:
round(df[df['sex']=='Male']['age'].mean(),1)

39.4

In [26]:
df[df['education'] == 'Bachelors']['education'].count()

5355

In [32]:
df['education'].count()

32561

In [39]:
df[df['education'].isin(['Bachelors','Masters','Doctorate'])]['education'].count()

25070

In [40]:
tot = df['education'].count()

In [41]:
tot

32561

In [80]:
higher = df[df['education'].isin(['Bachelors','Masters','Doctorate'])]

In [87]:
lower = df[~df['education'].isin(['Bachelors','Masters','Doctorate'])]

In [88]:
higher.count()

age               7491
workclass         7491
fnlwgt            7491
education         7491
education-num     7491
marital-status    7491
occupation        7491
relationship      7491
race              7491
sex               7491
capital-gain      7491
capital-loss      7491
hours-per-week    7491
native-country    7491
salary            7491
dtype: int64

In [89]:
lower.count()

age               25070
workclass         25070
fnlwgt            25070
education         25070
education-num     25070
marital-status    25070
occupation        25070
relationship      25070
race              25070
sex               25070
capital-gain      25070
capital-loss      25070
hours-per-week    25070
native-country    25070
salary            25070
dtype: int64

In [83]:
higher_rich = higher[higher['salary'] == '>50K']['education']

In [85]:
higher_rich.count()

3486

In [95]:
lower_rich = lower[lower['salary'] == '>50K']['education']

In [96]:
lower_rich.count()

4355

In [115]:
mini = df['hours-per-week'].min()

In [116]:
mini

1

In [124]:
min_worker = df[df['hours-per-week'] == mini]

In [128]:
rich_mw = min_worker[min_worker['salary'] == '>50K']

In [131]:
rich_mw['hours-per-week'].count()

2

In [132]:
min_worker['hours-per-week'].count()

20

In [6]:
df['native-country'].value_counts()

native-country
United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: count, dtype: int64

In [10]:
rich = df[df['salary']=='>50K']

In [12]:
country = rich['native-country'].value_counts()

In [18]:
rpc = rich.groupby('native-country').size()

In [19]:
c_size = df.groupby('native-country').size()

In [27]:
cp = (rpc/c_size)*100

In [28]:
cp.idxmax()

'Iran'

In [29]:
cp.max()

41.86046511627907

In [32]:
India_rich = rich[rich['native-country'] == 'India']

In [34]:
India_rich['occupation'].value_counts().idxmax()

'Prof-specialty'